/* Media Queries */
/* Below Media Queries are used for Desktop First Design */
/* XXL Screens */
@media (max-width: 1400px) {
    h1 {
        font-size: 138px;
    }

    h2 {
        font-size: 170px;
    }

    h3 {
        font-size: 60px;

        .ff-pinyon {
            font-size: 74px;
            line-height: 84px;
        }
    }

    .hero-section {
        .hero-content {
            &>div {
                &>a {
                    top: 48%;
                }
            }

            p {
                top: 30px;
            }
        }
    }

    .testimonial-section {
        & li.splide__slide {
            &>div {
                h4 {
                    font-size: 52px;
                    line-height: 62px;
                }
            }
        }
    }

    .footer-section {
        footer {
            &>h1 {
                font-size: 112px;
            }
        }
    }
}

/* XL Screens */
@media (max-width: 1200px) {
    h1 {
        font-size: 115px;
        line-height: 130px;
    }

    h2 {
        font-size: 150px;
        margin: -40px 0 -50px;
    }

    h3 {
        font-size: 48px;

        .ff-pinyon {
            font-size: 66px;
            line-height: 78px;
        }
    }

    h4 {
        font-size: 42px;
    }

    .hero-section {
        .hero-content {
            &>div {
                &>a {
                    top: 47%;
                }
            }

            p {
                top: 20px;
                width: 390px;
                font-size: 18px;
                line-height: 28px;
            }
        }

        .hero-faqs {
            ul {
                li {
                    .ques {
                        i {
                            width: 64px;
                            font-size: 28px;
                        }
                    }
                }
            }
        }
    }

    .testimonial-section {
        .slash-section {
            position: unset;
        }

        .btns {
            position: unset;
            bottom: 0;
        }

        & li.splide__slide {
            &>div {
                h4 {
                    font-size: 46px;
                    line-height: 58px;
                }
            }
        }
    }

    .footer-section {
        footer {
            &>h1 {
                font-size: 92px;
            }
        }
    }
}

/* Large Screens */
@media (max-width: 992px) {
    .primary-br {
        border-radius: 32px;
    }

    h1 {
        font-size: 75px;
        line-height: 90px;
    }

    h2 {
        font-size: 120px;
        margin: -40px 0 -30px;
    }

    h3 {
        font-size: 40px;

        .ff-pinyon {
            font-size: 58px;
            line-height: 68px;
        }
    }

    h4 {
        font-size: 36px;
    }

    p.big-text {
        font-size: 22px;
        line-height: 38px;
    }

    .hero-section {
        .hero-content {
            &>div {
                &>a {
                    top: 37%;
                    right: 15px;
                    transform: scale(0.7);
                }
            }

            p {
                position: static;
                width: 100%;
                margin: 20px 0 10px;
            }
        }

        .hero-faqs {
            ul {
                li {
                    .ques {
                        i {
                            width: 56px;
                            font-size: 24px;
                        }
                    }
                }
            }
        }
    }

    .cta-section {
        .container {
            &>div {
                border-radius: 40px;
            }

            a {
                transform: scale(.8);
            }
        }
    }

    .testimonial-section {
        & li.splide__slide {
            &>div {
                h4 {
                    font-size: 42px;
                    line-height: 52px;
                }
            }
        }
    }

    .hero-section,
    .works-section {
        border-radius: 0 0 40px 40px;
    }

    .footer-section {
        footer {
            &>h1 {
                font-size: 70px;
            }
        }
    }
}

/* Medium Screens */
@media (max-width: 768px) {
    .primary-br {
        border-radius: 28px;
    }

    h2 {
        font-size: 100px;
    }

    h3 {
        font-size: 34px;

        .ff-pinyon {
            font-size: 52px;
            line-height: 60px;
        }
    }

    h4 {
        font-size: 30px;
        line-height: 38px;
    }

    p.big-text {
        font-size: 20px;
        line-height: 32px;
    }

    .hero-section {
        .hero-content {
            &>div {
                &>a {
                    top: 300px;
                }
            }
        }

        .hero-faqs {
            ul {
                li {
                    margin: 20px 0 40px 0;

                    .ques {
                        i {
                            width: 44px;
                            font-size: 22px;
                        }
                    }
                }
            }
        }
    }

    section.works-section {
        .filter-items-container {
            .col {
                >div {
                    padding: 24px;
                }
            }
        }
    }

    .testimonial-section {
        & li.splide__slide {
            &>div {
                h4 {
                    font-size: 34px;
                    line-height: 48px;
                }
            }
        }
    }

    .hero-section,
    .works-section {
        border-radius: 0 0 30px 30px;
    }

    .footer-section {
        footer {
            &>h1 {
                font-size: 50px;
            }
        }
    }
}

/* Small Screens */
@media (max-width: 575px) {

    /* Reusable Classes */
    .primary-br {
        border-radius: 24px;
    }

    .btn {
        padding: 6px 28px !important;
    }

    .primary-br {
        border-radius: 40px;
    }

    h3 {
        font-size: 28px;

        .ff-pinyon {
            font-size: 46px;
            line-height: 52px;
        }
    }

    h4 {
        font-size: 24px;
        line-height: 32px;
    }

    .hero-section {
        .hero-content {
            &>div {
                &>a {
                    right: -10px;
                }
            }
        }

        .hero-faqs {
            ul {
                li {
                    .ques {
                        i {
                            width: 38px;
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }

    section.works-section {
        .filter-items-container {
            .col {
                >div {
                    padding: 20px;

                    >div>div {
                        bottom: 18px;
                        right: 18px;
                    }
                }
            }
        }
    }

    .testimonial-section {
        & li.splide__slide {
            &>div {
                h4 {
                    font-size: 30px;
                    line-height: 44px;
                }
            }
        }
    }

    .footer-section {
        footer {
            &>h1 {
                font-size: 42px;
            }
        }
    }
}

/* --- Adjusting Hero Section --- */
@media (max-width: 450px) {
    h1 {
        font-size: 54px;
        line-height: 70px;
        width: 330px;
    }

    h2 {
        font-size: 75px;
        margin: -40px 0 -20px;
    }

    h3 {
        font-size: 26px;

        .ff-pinyon {
            font-size: 40px;
            line-height: 48px;
        }
    }

    .hero-section {
        .hero-content {
            &>div {
                &>a {
                    top: 217px;
                    right: unset;
                    left: 180px;
                }
            }
        }
    }

    .testimonial-section {
        & li.splide__slide {
            &>div {
                h4 {
                    font-size: 28px;
                    line-height: 40px;
                }
            }
        }
    }

    .footer-section {
        footer {
            &>h1 {
                font-size: 38px;
            }
        }
    }

    .hero-section {
        .hero-content {
            &>div {
                &>a {
                    right: -30px;
                    left: unset;
                }
            }
        }
    }

    .cta-section {
        .container {
            &>div {
                h2 {
                    margin: -32px 0 -36px;
                }
            }
        }
    }

    .footer-section {
        .footer-links-container {
            .form {
                &>div {
                    form {
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                    }
                }
            }
        }
    }
}

/* --- Adjusting Hero Section --- */
@media (max-width: 400px) {
    h1 {
        font-size: 46px;
        line-height: 58px;
        width: 290px;
    }

    h2 {
        font-size: 66px;
    }

    .hero-section {
        .hero-content {
            &>div {
                &>a {
                    top: 175px;
                }
            }

            p {
                font-size: 16px;
                line-height: 22px;
            }
        }
    }

    .footer-section {
        footer {
            &>h1 {
                font-size: 34px;
            }
        }
    }
}